body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

#board{
  background-color: #0C87D3;
  position: relative;
  left: 70%;
  color: white;
  font-size: 18px;
  font-weight: bold;



}
#time {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 38px;
}
