h1, h2, h3, h4, h5 {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

a {
  cursor: pointer
}
/*head*/
#head-section {
  background-color: #F0F0F0;
  height: 60px;
}

#head-section #logo {
  text-align: left;
  margin-top: 8px; 
  font-weight: bold;
  font-size: 30px;
  color: #0C87D3;
}

#head-links {
  margin-top: -45px;
  margin-left: 1000px;
  font-weight: bold;
  font-size: 20px;
}

/*clock */
#clock-board{
  text-align: center;
  background-color: #0C87D3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
  left: -30px;
}

#clock-board #time {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 38px;
}

#clock-board #brussel {
  margin-top: 6px;
}
/*DepartureTable */
#station {
  text-align: left;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 50px;
}

#plus-minutes {
  color: red;
  padding-left: 20px;
}

#canceled {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

ol {
  list-style-type: none; /* Заглавные буквы */
 }

#station-head {
  width: 879px;
  margin-top: 20px;
  margin-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #D3D3D3; 
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;  
  border-bottom: 1px solid #D3D3D3;
}

#list-trains {
  width: 879px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-right: 1px solid #D3D3D3; 
  border-left: 1px solid #D3D3D3; 
  border-bottom: 1px solid #D3D3D3; 
}

/*Search station*/
#search-and-table {
  text-align: left;
}

.form-control{
  width: 250px;
}

#label-search-input {
  margin-right: 810px;
}

#search-panel {
  margin-left: 25px;
  margin-top: 30px;
}

.stations-list {
  margin-left: -20px;
  margin-top: 10px;
}

/*Create route*/
.search-route-panel {
  margin-left: 200px;
  margin-top: 50px;
  width: 550px;
}

#depart-input {

}

#arrival-input {
  position: relative;
  top: -34px;
  left: 300px;
}
