h1, h2, h3, h4, h5 {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

/*head*/
#head {
  background-color: #ebebe0;
  height: 60px;
}

#head #text {
  margin-top: 8px; 
  font-weight: bold;
  font-size: 30px;
  color: #0C87D3;
}

/*clock */
#board{
  text-align: center;
  background-color: #0C87D3;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 77px;
  margin-top: 30px;
}

#board #time {
  margin-top: -10px;
  margin-bottom: 0px;
  font-size: 38px;
}

#board #brussel {
  margin-top: 6px;
}
/*DepartureTable */
#station {
  text-align: left;
  font-size: 18px;
  margin-top: 40px
}

#plus-minutes {
  color: red;
  padding-left: 20px;
}

#canceled {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

ol {
  list-style-type: none; /* Заглавные буквы */
 }

#station-head {
  width: 898px;
  margin-top: 20px;
  margin-left: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid #D3D3D3; 
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;  
  border-bottom: 1px solid #D3D3D3;
}

#list-trains {
  padding-bottom: 8px;
  padding-top: 8px;
  border-right: 1px solid #D3D3D3; 
  border-left: 1px solid #D3D3D3; 
  border-bottom: 1px solid #D3D3D3; 
}

/*cities*/
#cities {
  text-align: left;
}

#search-input {
  width: 220px;
}

#search-panel {
  margin-left: 25px;
  margin-top: 30px;
}

.stations-list {
  margin-left: -20px;
  margin-top: 10px;
}
